{% extends "photographerbase.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="card shadow mb-4 col-12 col-md-8">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Appointments</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Appointment Date</ID>
                            <th> Talent</th>
                            <th> Timeslot</th>
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for app in app %}
                        <tr id="{{ app.id }}">
                            <td>{{ app.date }}</td>
                            <td>{{ app.talent.user.first_name }} {{ app.talent.user.last_name}}</td>
                            <td>{{ app.timeslot }}</td>
                            
                            
                            <td><a href="{% url 'updateappoint' app.id %}" class="btn btn-warning">update</a>
                            <form method="POST" action="{% url 'canap' app.id %}" >
                                                {% csrf_token %}
                                                
                                                
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>

{% endblock content%}