<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>
    <link href="/static/css/adminDash.css" rel="stylesheet" type="text/css">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
{% load crispy_forms_tags %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion side-bar-sect" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin-panel' %}">
                <div class="sidebar-brand-icon">
                    <img src="/static/images/dashlogo.svg" alt="">
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin-panel' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Categories</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% for cat in cat %}
                        <a class="collapse-item" href="{% url 'horror' cat.id %}">{{ cat.name }}</a>
                        
                        {% endfor %}
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            

            <!-- Nav Item - Pages Collapse Menu -->
            

            <!-- Nav Item - Charts -->
            
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'phototable' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Applications</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'viewrecruterapp' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Recruter Applications</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light golden-nav topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    

                    <!-- Topbar Search -->
                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        
                        <!-- Nav Item - Messages -->
                       
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                


                <!-- Begin Page Content -->
                <div class="container-fluid" >
                    <div class="row">
                    <div class="col-sm-3">
                    <form method="POST" id="talentform" data-cities-url="{% url 'ajax_load_cities' %}" >
                        {% csrf_token %}
                        {{ u_form|crispy }}
                        {{ r_form|crispy }}
                        <button type="submit" class="btn btn-primary">Create account</button>
                    </form>
                    </div>

                    <!-- Page Heading -->
                   
                    
                    <!-- DataTales Example -->
                    <div class="col-12 col-md-8">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Recruter Applications</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</ID>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>email</th>
                                            <th>Company Name </th>
                                            <th>Address</th>
                                            <th>Tin Number</th>
                                            <th>Select to reject</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for applications in applications %}
                                        <tr id="{{ applications.id }}">
                                            <td>{{ applications.id }}</td>
                                            <td>{{ applications.first_name }}</td>
                                            <td>{{ applications.lasT_name }}</td>
                                            <td>{{ applications.email }}</td>
                                            <td>{{ applications.company_name }}</td>
                                            <td>{{ applications.company_address }}</td>
                                            <td>{{ applications.tin_number }}</td>
                                            <td><input type="checkbox" name="photographer_email[]" value="{{ applications.id }}" id="photographer-select"></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <button type="submit" id="btn_delete">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Businesses</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="businesses" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Company Name</ID>
                                            <th> Tin Number</th>
                                            <th>Company address</th>
                                            <th>owner_name</th>
                                            
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for company  in company %}
                                        <tr id="{{ company.company_name }}">
                                            <td>{{ company.company_name  }}</td>
                                            <td>{{ company.tin_number }}</td>
                                            <td>{{ company.address }}</td>
                                            <td>{{ company.owner_name }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var table= document.getElementById('dataTable'),rindex
        console.log(table.rows.length)
        for (var i=0 ; i< table.rows.length; i++){
            
            table.rows[i].onclick = function(){
                
                rindex = this.rowIndex;
                
                console.log(rindex);
                
                document.getElementById("id_first_name").value = this.cells[1].innerHTML;
                document.getElementById("id_last_name").value = this.cells[2].innerHTML;
                document.getElementById("id_email").value = this.cells[3].innerHTML;
                document.getElementById("id_appid").value = this.cells[0].innerHTML;

            }
        }

    
    </script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
	$("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate_username/',
        method:"POST",
        data: {
          'username': username
        },
        
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });

    });
  
  $('#id_province').change(function(){
    const url=$('#talentform').attr('data-cities-url')
    const province_id=$(this).val()
    $.ajax({
      url:url,
      data:{
        'province_id':province_id
      },
      success: function(data){
        $('#id_district').html(data)
      }
    })


  })
  $('#id_district').change(function(){
    const url2='/ajax/load-districts/'
    const district_id=$(this).val()
    $.ajax({
      url:url2,
      data:{
        'district_id':district_id
      },
      success:function(data){
        $('#id_sector').html(data)
      }
    })
  })

  $('#btn_delete').click(function(){
			if(confirm("Are you sure")){
				var id=[];
				
				$(':checkbox:checked').each(function(i){
					id[i]=$(this).val()
				})
				if(id.length===0){
					alert("please selet itme to delete")
				}
				else{
					console.log(id)
					$.ajax({
						url:'/custom-admin/recdelete/',
						method:"POST",
						data:{
							id,
							
						},
						success:function(response){
                            
							for(var i=0 ; i < id.length; i++ ){
								$('tr#'+id[i]+'').css('background-color','#ccc');
								$('tr#'+id[i]+'').fadeOut('slow');
							}
						}
					})
				}
			}
		})



</script>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/staticvendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/datatables-demo.js"></script>

</body>

</html>